{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="create-profile-page">
    <h1 class="text-center">We are glad you want to create your profile!</h1>
    <p class="text-center">Please fill out the details below:</p>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
