{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">

                {% if user.is_authenticated%}

                    {% if user.myprofile.name %}
                    <div class="text-center">   
                        <h1>{{ user.myprofile.bio }}</h1>
                        <h1>{{ user.myprofile.name }} {{ user.myprofile.surname }}</h1>
                        <div>
                            <img src="{% static 'images/test.jpeg' %}" class="scale" alt="placeholder">
                        </div>
                        <h1>{{user.myprofile.interests}}</h1>
                        <div class="text-center">
                            <a href="{% url 'edit_profile' %}">
                                <button type="button" class="btn btn-primary" style="width: 200px;">Edit Profile</button>
                            </a>
                        </div>
                        
                    </div>
                    {% else %}
                    <h1 class="text-center">This user has no profile, but you can create one. Just click this button!!</h1>
                    <div class="text-center">
                        <a href="{% url 'create_profile' %}">
                            <button type="button" class="btn btn-primary" style="width: 200px;">Create Profile</button>
                        </a>
                    </div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}