{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">

                {% if user.myprofile.bio %}
                <h1>{{ user.myprofile.bio }}</h1>
                {% else %}
                <h1>There is no bio for this user!!!!</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}