{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">

                {% if user.myprofile.bio %}
                <h1>{{ user.myprofile.bio }}</h1>
                <h1>{{ user.myprofile.name }} {{ user.myprofile.surname }}</h1>
                <h1>{{user.myprofile.interests}}</h1>
                <h1></h1>
                <h1>{{ user.username }}</h1>
                <div class="d-none d-md-block col-md-6 masthead-image">
                    <img src="{% static 'images/test.jpeg' %}" class="scale" alt="placeholder">
                </div>
                {% else %}
                <h1>There is no bio for this user!!!!</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}