{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row text-center">
                <h1>{{ user_profile.name }} {{ user_profile.surname }}</p>
                
                <p>Bio: {{ user_profile.bio }}</p>
                <p>Interests: {{ user_profile.interests }}</p>
                {% if user_profile.profile_pic %}
                <img src="{{ user_profile.profile_pic.url }}" alt="Profile Picture">
                {% else %}
                <img src="{% static 'default_profile_pic.png' %}" alt="Default Profile Picture">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}
