{% extends "base.html" %} 
{% load static %}

{% block content %}


<div class="container-fluid">

  <div class="card" style="width: 18.75rem;">
    {% for post in object_list %}
    <div>
      {% if post.blog_img %}
        <img src="{{ post.blog_img.url }}" class="card-img-top" alt="{{ post.title }}">
      {% else %}
        <img src="{% static 'images/test.jpeg' %}" class="card-img-top" alt="Placeholder Image">
      {% endif %}
    </div>
    <div class="card-body">
      <h4>
        <a href="{% url 'post_detail' post.slug %}" class="card-title">{{ post.title }}</a> 
      </h4>
    </div>
    
    {% empty %}
    <p>No posts available for this location.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
