{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Hero Section -->
<section class="post-hero" style="background-image: url('{{ post.blog_img.url }}');" >
    <div class="hero-content">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-subtitle">
            <a href="{% url 'profile_detail' post.author.pk  %}">{{ post.author }}</a> | {{ post.created_on }}
        </p>

        {% if user.is_authenticated %}
            {% if post.author != user %}
                <!-- Show the button only if the logged-in user is NOT the author -->
                <div class="btn-container">
                    <a href="{% url 'send_message' post.author.pk %}" class="btn btn-primary">
                        Send Message to {{ post.author }}
                    </a>
                </div>
            {% endif %}
        {% endif %}
       
    </div>
</section>

<!-- Post Content -->
<section class="post-content container-post-content">
    <article class="content-body">
        <p>
            {{ post.content | safe }}
        </p>
        {% if post.author == user %}
        <div class="edit-btn">
            <a href="{% url 'edit_post' post_id=post.id %}" class="btn btn-primary">Edit Post</a>
        </div>
        {% endif %}
    </article>
</section>

<!-- Comments Section -->
<section class="comments-section container">
    <h3>Comments:</h3>
    <div class="comments-list">
        <div class="comments-container"> 
            {% for comment in comments %}
            <div class="comment">
                <p>
                    <strong>{{ comment.author }}</strong> <span>{{ comment.created_on }}</span>
                </p>
                <div class="comment-body">
                    <p>{{ comment.content | linebreaks }}</p>
                </div>
                {% if comment.author == user %}
                <div class="comment-edit">
                    <a href="{% url 'edit_comment' comment_id=comment.id %}" class="btn btn-secondary">Edit Comment</a>
                </div>
                {% endif %}
            </div>
            {% empty %}
            <p>No comments yet. Be the first to comment!</p>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Comment Form -->
{% if user.is_authenticated %}
<section class="comment-form container">
    <h4>Leave a Comment</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Post Comment</button>
    </form>
</section>
{% else %}
<p class="text-center">You need to create an account to leave a comment!</p>
{% endif %}

{% endblock content %}
