{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container message-form-container">
    <h3 class="form-title">Send a Message to {{ recipient.username }}</h3> 
    <div class="card">
        <div class="card-body">
            <form method="post" class="message-form">
                {% csrf_token %}
                <input type="hidden" name="recipient" value="{{ recipient.id }}">

                <div class="form-group">
                    <label for="id_content">Message:</label>
                    {{ form.content }}
                </div>
                <button type="submit" class="btn btn-primary send-message-btn">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
